<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey/Quiz</title>
</head>
<body>
    <h2>Midterm Survey</h2>
    <form action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">What's your name:</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="name" id="name" ></div>
            <check if="{{ isset(@errors['name']) }}">
                <span class="err">{{ @errors['name'] }}</span>
            </check>
        </div><br>

        <div class="form-group">
            <label class="col-sm-4 control-label">Select your favorite colors:</label>
            <div class="col-sm-4">
                <repeat group="{{ @colors }}" value="{{ @colors }}">
                    <label><input type="checkbox" name="colors[]" value="{{ @colors }}"> {{ ucfirst(@colors) }}</label><br>
                </repeat>
            </div>
        </div><br>

        <!-- submit button -->
        <div class="col-xs-3 ">
            <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>
</body>
</html>